[defaults]
inventory = ./ansible/inventory/hosts.yml
roles_path = ./ansible/vendor/roles:./ansible/roles
collections_path = ./ansible/vendor/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
force_color = True

[privilege_escalation]
become = True
become_method = sudo
